network --bootproto=static --hostname={{ inventory_hostname }} --ip={{ ansible_ssh_host }} --netmask=255.255.255.0 --gateway={{ hypervisor }} --nameserver={{ hypervisor }} --noipv6
url --url={{ centos_mirror }}/6/os/i386
#repo --name=base    --baseurl={{ centos_mirror }}/6/os/i386
repo --name=updates --baseurl={{ centos_mirror }}/6/updates/i386

services --enabled=network,postfix,rsyslog --disabled=httpd,iptables,ip6tables,mysqld,netfs,rawdevices

install
text
skipx
poweroff

lang en_US.UTF-8
keyboard us
timezone Etc/UTC
rootpw root
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled

zerombr
bootloader --location=mbr --append="noipv6"
clearpart --all --initlabel
part /boot  --fstype=ext4 --size=200 --fsoption=noatime
part pv.1 --size 1 --grow
volgroup vg_{{ inventory_hostname }}_root --pesize=4096 pv.1
logvol /    --fstype=ext4 --name=lv_root --vgname=vg_{{ inventory_hostname }}_root --size=2048 --fsoptions=noatime
logvol swap --fstype=swap --name=lv_swap --vgname=vg_{{ inventory_hostname }}_root --size=512

%packages --nobase
### Documentation
-Deployment_Guide-en-US
### Firmware
-aic94xx-firmware
-atmel-firmware
-b43-fwcutter
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iw
-iwl1000-firmware
-iwl100-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
### SELinux
-checkpolicy
-mcstrans
-policycoreutils-python
-selinux-policy
-selinux-policy-targeted
### RHN
-rhn-check
-rhn-client-tools
-rhn-setup
-rhnlib
-rhnsd
-subscription-manager
-yum-rhn-plugin
### Perl
-perl
-perl-DBI
-perl-Module-Pluggable
-perl-Pod-Escapes
-perl-Pod-Simple
-perl-libs
-perl-version
### Other
-acl
-attr
-audit
-authconfig
-bridge-utils
-cryptsetup-luks
-cryptsetup-luks-libs
-device-mapper-event
-device-mapper-event-libs
-device-mapper-multipath
-device-mapper-multipath-libs
-iptables-ipv6
-iscsi-initiator-utils
-kpartx
-nfs-utils
-nfs-utils-lib
-prelink
-setserial
-system-config-firewall-base
### Workshop configurator
newt
newt-python
python-ethtool
### Minimal
crontabs
logrotate
man
man-pages
openssh-clients
openssh-server
postfix
rsync
vixie-cron
which
yum
vim-enhanced
### Apache/PHP
httpd
php
php-mysql
### MySQL
mysql-server
MySQL-python
%end

%post
### Install the SSH key
mkdir -m0700 /root/.ssh/
cat <<EOF >/root/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCa4iPbNVUYq7Ibkvj/9qI8CmSqRRCXQ/SAg9OA7Md/1UjSMELiMZsGu4A1LHpl4ER8nIet/w78p0amueIYgvX7oVY0+3fkXRqhJzqzoFVG8GzRZgpk9z8qX8aa3Dtq4rIGBH9st5hEcp3xkeap4+sv9xDd6X8Bd5gvYaCwvbU/vlgE6iYNpp45QNEaUOx50jHD3zPU6jShuJm/SnKmxW2HjXMY9DesYil5Dh2ixrYHoFjT1G/S1y+5plpTmylymd73oeu2cl04ImfT99Iufn7GAgjisSSDFC4o04jzm8bAzMKPf8/0iN1UrHmuR9rvmRqo3yWb7LTYdygSmqDOe5FB ansible@workshop
EOF
chmod 0600 /root/.ssh/authorized_keys
restorecon -R /root/.ssh/

### Start our own sshd
/etc/init.d/sshd start

### Wait until we are told to poweroff
while ! test -f /tmp/poweroff-ready; do
    sleep 2
done
